@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Замовлення виконано</h2>

<p>Дякуємо за замовлення! Номер вашого замовлення: @Model</p>
<p>З вами зв`яжеться наш консультант за вказаним телефонним номером</p>

<p>Як щодо здійснення ще однієї покупки? 
    @Html.ActionLink("Ювелірні вироби", "Index", "Home")
</p>
